/* 画面全体のスタイル */
body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #e0e0e0; /* 背景色を追加 */
}

#root {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.task-container {
  background: #fff;
  padding: 2em;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* 幅を100%に設定 */
  max-width: 1100px; /* 最大幅を1200pxに設定 */
  margin: 1em; /* 中央寄せ */
  box-sizing: border-box; /* パディングとボーダーを含む */
}

select, input[type='text'], button[type='submit'] {
  width: 100%;
  margin: 0.5em 0;
  padding: 0.75em; /* パディングを大きく */
  font-size: 1.2em; /* フォントサイズを大きく */
  border: 1px solid #ccc;
  border-radius: 5px;
}

button[type='submit'] {
  background-color: #007BFF;
  color: #fff;
  border: none;
  cursor: pointer;
  height: 45px;
  width: 35%;
  font-size: 1.2em;
  padding: 0.5em 1em;
}

button[type='submit']:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #f9f9f9;
  padding: 1em; /* パディングを大きく */
  margin: 1em 0; /* マージンを大きく */
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* リストアイテムのシャドウを追加 */
  width: 100%; /* 幅を100%に設定 */
  box-sizing: border-box; /* パディングとボーダーを含む */
}

li .input-container {
  display: flex;
  width: 100%;
  align-items: center;
}

li input[type='text'] {
  flex-grow: 1;
  margin-right: 1em;
  border: 1px solid #ccc; /* ボーダーを追加 */
  border-radius: 5px; /* ボーダーの角を丸く */
  background: #fff; /* 背景色を白に設定 */
  outline: none;
  font-size: 1.2em; /* フォントサイズを大きく */
  padding: 0.5em; /* パディングを追加 */
  box-sizing: border-box; /* パディングとボーダーを含む */
}

li input[type='checkbox'] {
  margin-right: 1em;
  transform: scale(1.5); /* チェックボックスを大きく */
}

.delete-button, .toggle-button {
  padding: 0.3em 0.6em;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  width: 65px;
}

.delete-button:hover {
  background-color: #c82333;
}

.toggle-button {
  background-color: white;
  color: #fff;
  margin-left: 10px;
}

.toggle-button:hover {
  background-color: #0056b3;
}

.drag-handle {
  display: inline-block;
  padding: 0.5em;
  margin-right: 10px;
  background: #ddd;
  border-radius: 5px;
  cursor: grab;
}

/* カレンダーのスタイル */
.fc {
  background-color: white; /* 背景色を白に */
  border: 1px solid black; /* 黒い枠線を追加 */
  width: 100%; /* 幅を100%に設定 */
}

.fc-h-event .fc-event-title {
  display: inline-block;
  left: 0px;
  font-size: 11px;
  font-weight: 500;
  max-width: 100%;
  overflow: hidden;
  right: 0px;
  vertical-align: top;
}

.fc .fc-daygrid-day-frame {
  max-height: 140px;
  height: 140px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  white-space: nowrap; /* イベントが折り返されないようにする */
}

.fc-event {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* モーダルの全体のスタイルを調整 */
.custom-modal {
  width: 50%; /* モーダルの幅を調整 */
  height: 50%; /* モーダルの高さを調整 */
  max-width: 600px; /* 最大幅を設定 */
  max-height: 400px; /* 最大高さを設定 */
  margin: auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* カレンダーのサイズを調整 */
.custom-calendar {
  width: 100%; /* カレンダーの幅をモーダルに合わせる */
  height: auto; /* 自動調整 */
  max-height: 300px; /* カレンダーの高さを設定 */
  overflow-y: auto; /* カレンダーにスクロールを追加 */
}

.actions-container {
  display: flex;
  justify-content: space-between; /* 要素を左右に配置 */
  align-items: center;
  margin-bottom: 10px;
}

.duplicate-button {
  margin-left: auto; /* これが右寄せのためのスタイル */
}